<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Doppelganger</title>
	<link rel="stylesheet" href="css/app.css">
    <meta name="viewport" content="width=device-width, user-scalable=false;">
</head>
<body class="mode-fullscreen">
	{{{body}}}

	<script src="/javascripts/vendor/socket.io.js"></script>
	<script src="/javascripts/vendor/simplewebrtc.js"></script>
	<script src="/javascripts/vendor/jquery.js"></script>
	<script src="/javascripts/vendor/underscore.js"></script>
	<script src="/javascripts/vendor/backbone.js"></script>
	<script src="/javascripts/vendor/marionette.js"></script>

	<script data-main="/javascripts/setup" src="/javascripts/vendor/require.js"></script>

</body>
</html>