<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Doppelganger</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div id="main"></div>
	{{{body}}}
	<div id="modals"></div>

	<form class="utility-bar" id="utility">
		<input name="command" type="text" class="utility-bar-message">
	</form>

	<script src="/javascripts/vendor/socket.io.js"></script>
	<script src="/javascripts/vendor/simplewebrtc.js"></script>
	<script src="/javascripts/vendor/hex/tools.js"></script>
	<script src="/javascripts/vendor/hex/grid.js"></script>
	<script src="/javascripts/vendor/hex/calculations.js"></script>

	<script src="/javascripts/build/doppelganger.js"></script>

</body>
</html>