<div class="video-box">
	<div id="localVideo" class="video-box-local" style="display: none;"></div>
	<div id="remoteVideos" class="video-box-remote"></div>
</div>

<form class="utility-bar" id="utilityBar">
	<input name="command" type="text" class="utility-bar-message">
</form>