<div class="video-box">
	<div id="localVideo" class="video-box-wrap video-box-local has-focus">
		<p class="video-box-caption"></p>
	</div>
	<div id="remoteVideos" class="video-box-remote"></div>
</div>

<form class="utility-bar" id="utilityBar">
	<input name="command" type="text" class="utility-bar-message">
</form>