@import url(../icons/style.css);
/**
 * Doppleganger
 */
/* line 1, ../scss/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../scss/_base.scss */
body {
  background: #091f27;
  font: 18px/1 Helvetica, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 1, ../scss/utilities/_hidden.scss */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  padding: 0;
}

/* line 11, ../scss/utilities/_hidden.scss */
.physically-hidden {
  display: none;
}

/* line 1, ../scss/effects/_fade-away.scss */
.effect__fade-away {
  opacity: 0;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translate(0, -5%);
  -moz-transform: translate(0, -5%);
  -ms-transform: translate(0, -5%);
  -o-transform: translate(0, -5%);
  transform: translate(0, -5%);
}

/* line 1, ../scss/components/_actionbar.scss */
.actionbar {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  padding: 0 1em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* line 11, ../scss/components/_actionbar.scss */
.actionbar a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  line-height: 60px;
  text-decoration: none;
  transition: 0.3s all;
}

/* line 19, ../scss/components/_actionbar.scss */
a.actionbar__logo {
  line-height: 1;
  padding: 1em 0;
  float: left;
}

/* line 25, ../scss/components/_actionbar.scss */
.actionbar__nav {
  margin: 0;
  padding: 0;
  text-align: right;
}

/* line 31, ../scss/components/_actionbar.scss */
.actionbar__nav li {
  display: inline-block;
  margin: 0 0.5em;
}

/* line 36, ../scss/components/_actionbar.scss */
.actionbar__nav__control.is-active {
  color: #c33;
}

/* line 40, ../scss/components/_actionbar.scss */
.actionbar__nav__control:hover {
  color: #e55;
}

/* line 1, ../scss/components/_forms.scss */
label {
  color: #353c43;
  display: block;
  font-size: 12px;
  margin-bottom: 0.5em;
}

/* line 8, ../scss/components/_forms.scss */
.field {
  margin: 0 0 1em;
}

/* line 12, ../scss/components/_forms.scss */
.menu {
  padding: 2em 2em 1.5em;
}

/* line 16, ../scss/components/_forms.scss */
.menu__header {
  margin-bottom: 3em;
  text-align: center;
}

/* line 21, ../scss/components/_forms.scss */
.input--text {
  background: #dddedf;
  border: none;
  display: block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 2%;
  width: 100%;
}

/* line 32, ../scss/components/_forms.scss */
.btn {
  background: #3b4c53;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
}

/* line 41, ../scss/components/_forms.scss */
.btn--full {
  width: 100%;
}

/* line 45, ../scss/components/_forms.scss */
.form__footer {
  margin-top: 2em;
}

/* line 1, ../scss/components/_honeycomb.scss */
.honeycomb {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 10, ../scss/components/_honeycomb.scss */
.honeycomb__layer {
  left: 0;
  position: absolute;
  top: 0;
}

/* line 1, ../scss/components/_modals.scss */
.modal {
  background: #c7ccce;
  left: 50%;
  margin: 0 0 0 -180px;
  position: absolute;
  top: 25%;
  width: 360px;
  z-index: 3;
}
