/**
 * Doppleganger
 */

@import "/icons/style.css";

* {
  -moz-box-sizing: border-box;
  -webit-box-sizing: border-box;
  box-sizing: border-box;
}

.flip {
  transform: scaleY(-1) !important;
  -webkit-transform: scaleY(-1) !important;
}

.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

html {
  height: 100%;
}

body {
  background: #091f27;
  height: 100%;
  font: 18px/1 Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.actionbar {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  padding: 0 1em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.actionbar a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  line-height: 60px;
  text-decoration: none;
  transition: 0.3s all;
}

a.actionbar__logo {
  line-height: 1;
  padding: 1em 0;
  float: left;
}

.actionbar a:hover {
  color: #fff;
}

.actionbar__nav {
  margin: 0;
  padding: 0;
  text-align: right;
}

.actionbar__nav li {
  display: inline-block;
  margin: 0 0.5em;
}

.actionbar .actionbar__nav__control.is-active {
  color: red;

  &:hover {
	color: lighten(red, 5%);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/**
 * @name UtilityBar
 * @desc Found at the bottom of the page, enables the user to
 * directly interact with the app
 */

.utility-bar {
  background: #2e3640;
  border-top: 1px solid #111;
  bottom: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  left: 0;
  opacity: 0;
  padding: 5px 5px 5px 25px;
  position: absolute;
  width: 100%;
  z-index: 3;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.utility-bar:hover, .utility-bar:focus {
  opacity: 1;
}

.utility-bar:before {
  content: "☺";
  color: #d9d9d9;
  font-size: 16px;
  font-weight: 100;
  left: 7px;
  position: absolute;
  top: 11px;
}

.utility-bar-message {
  background: #24282d;
  border: 1px solid #16191c;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
  color: #d9d9d9;
  padding: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  width: 100%; 
}

.error .utility-bar-message {
  background: #922;
}

.region--backdrop {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.region--videos {
  position: relative;
  z-index: 1;
}

.backdrop__layer {
  left: 0;
  position: absolute;
  top: 0;
}

#scene {
  background: #151018;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.layer {
  left: 0;
  position: absolute;
  bottom: 0;
}

.mask {
  position: absolute;
  left: -99999px;
}

.ghoul__canvas {
  bottom: 190px;
  left: 1023px;
  overflow: hidden;
  position: absolute;
  -webkit-filter: brightness(1.5) contrast(1.5) sepia(0.3);
}

.moon__canvas {
  bottom: 730px;
  left: 844px;
  overflow: hidden;
  position: absolute;
  -webkit-filter: brightness(1.5) contrast(1.5) sepia(0.3) saturate(2);
}

.pumpkin__canvas {
  bottom: 30px;
  left: 335px;
  overflow: hidden;
  position: absolute;
  -webkit-filter: brightness(1.5) contrast(1.5) sepia(0.3) saturate(2);
}