<nav class="actionbar">
	<a href="/" class="actionbar__logo">
		<img src="/images/logo.png" alt="DoppelGanger">
	</a>
	<ul class="actionbar__nav">
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--mute">
				<i class="icon">&#xe001;</i>
				<i class="visually-hidden">Mute Microphone</i>
			</a>
		</li>
		<li>
			<a href="#" class="actionbar__nav__control actionbar__nav__control--pause">
				<i class="icon">&#xe005;</i>
				<i class="visually-hidden">Pause Video</i>
			</a>
		</li>
	</ul>
</nav>