<ul class="scene">
	<li class="layer" data-depth="0"><img src="/images/halloween/background.jpg"></li>
   	<li class="layer" data-depth="0.05">
		<img src="/images/halloween/witch_moon.png">
		<img data-zoom="2.7" data-hue="rgba(200, 239, 23, 0.3)" class="mask" src="/images/halloween/moon_mask.png"/>
		<canvas class="moon__canvas" width="222" height="196"></canvas>
	</li>
	<li class="layer" data-depth="0.20"><img src="/images/halloween/hill.png"></li>
	<li class="layer" data-depth="0.15"><img src="/images/halloween/trees.png"></li>
	<li class="layer" data-depth="0.5">
		<img src="/images/halloween/hill_front.png">
       	<img data-zoom="1.9" data-hue="rgba(220, 75, 0, 0.3)" class="mask" src="/images/halloween/pumpkin_mask.png" />
    	<canvas class="pumpkin__canvas" width="175" height="181"></canvas>
	</li>
	<li class="layer layer--ghoul" data-depth="0.80">
		<img src="/images/halloween/ghoul.png">
		<img data-zoom="2.7" data-hue="rgba(30, 200, 60, 0.2)" class="mask" src="/images/halloween/ghoul_mask.png"/>
		<canvas class="ghoul__canvas" width="125" height="160"></canvas>
	</li>
</ul>